<section class="wrapper">
  <mat-card class="card" *ngFor="let list of lists">
    <mat-card-header>
      <div mat-card-avatar>
        <button mat-icon-button class="add-btn" (click)="open(list.id)">
          <mat-icon aria-label="add">add</mat-icon>
        </button>
      </div>
      <mat-card-title [ngClass]="{'dark-txt': list.entities.length > 0}">
        {{list.entities.length > 0
        ? 'Entities conntected (' + list.entities.length + ')'
        : 'Connect entity'}}
      </mat-card-title>
      <button mat-icon-button class="arrow-btn arrow-btn-down" (click)="showStates[list.id] = !showStates[list.id]"
              [ngClass]="{'arrow-btn-up' : showStates[list.id]}" *ngIf="list.entities.length > 0">
        <mat-icon aria-label="add">expand_more</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content *ngIf="showStates[list.id]">
      <mat-list>
        <mat-list-item *ngFor="let entityId of list.entities">
          <p mat-line class="mat-subheading-2">{{entities[entityId].title}}</p>
          <p mat-line class="mat-small"> {{entities[entityId].subtitle}} </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
