@import "../../../../style/variables";

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .txt {
    color: $primary-text-color;
  }

  .light-txt {
    color: $secondary-text-color;
  }

  .card {
    width: 100%;
    max-width: 704px;
    max-height: 50vh;
    padding: 0;
    display: flex;
    flex-direction: column;

    .search-container {
      height: 58px;
      padding-left: 14px;
      padding-right: 22px;
      flex-shrink: 0;
      display: flex;
      align-items: center;

      .mat-icon {
        flex-grow: 0;
        color: $primary-color-light;
      }

      mat-form-field {
        flex-grow: 1;
        margin: 8px;
        display: inline-block;
        width: calc(100% - 40px);
      }
    }

    mat-selection-list {
      overflow-y: auto;
      padding-top: 0;
    }

    mat-list-option {
      height: 66px;

      &:last-child mat-divider {
        display: none;
      }
    }

  }

  .success-btn {
    text-transform: uppercase;
    width: 235px;
    height: 60px;
    margin: 64px;
  }

  & > p {
    text-align: center;
  }

}




