@import "./custom_material_theme.scss";
@import "./reset.scss";
@import "./variables.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

